# Problem 4

4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [1]:
# importing required libraries 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from datetime import date
from datetime import datetime
import pandas as pd
from selenium.webdriver.support.ui import Select 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [50]:
# installing the chrome driver & URL to be scrapped 
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://bookpage.com/'
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [51]:
driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div[5]/a").click()

In [52]:
book=[]
author=[]
genre=[]
review=[]

In [53]:
b_tags=driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div/div[2]/div[1]/div/div/div/div[2]/h4/a")
for i in b_tags:
    dataset=i.text
    book.append(dataset)
a_tags=driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div/div[2]/div[1]/div/div/div/div[2]/p[1]")
for i in b_tags:
    dataset=i.text
    author.append(dataset)
g_tags=driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div/div[2]/div[1]/div/div/div/div[2]/p[4]")
for i in b_tags:
    dataset=i.text
    genre.append(dataset)
time.sleep(5)

In [54]:
df_bookpage=pd.DataFrame()
df_bookpage['Name Od The Book']=book
df_bookpage['Author']=author
df_bookpage['Genre']=genre

In [55]:
df_bookpage.head()

Empty DataFrame
Columns: [Name Od The Book, Author, Genre]
Index: []

# Problem 7

7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The
scraped data should include Product Name, Price, Image URL and Average Rating.

In [58]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.amazon.in/s?k=mobile+phones+under+20000&rh=n%3A1389432031&dc&qid=1604132579&rnid=3576079031&ref=sr_nr_n_1'
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [59]:
urls = []
name=[]
price=[]
image=[]
rating=[]
#loop to fetch urls of each mobile till page 5
for page in range(0,5):
    driver.get(url)
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    prod_urls = soup.find_all('a', attrs ={'class':'a-link-normal a-text-normal'})
    for prod in prod_urls:
        urls.append('https://www.amazon.in'+prod.get('href'))
for url in urls:
    driver.get(url)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    n = soup.find('h1',attrs={'id':'title'})
    if n is not None:
        name.append(n.find('span').text.replace('\n',''))
    else:
        name.append('-')
    rat = soup.find('div', attrs = {'id':'averageCustomerReviews'})
    if rat is not None:
        rating.append(rat.find('i').find('span').text)
    else:
        rating.append('-')
    p = soup.find('span', attrs = {'class':'a-size-medium a-color-price priceBlockDealPriceString'})
    if p is not None:
        price.append(p.text[2:])
    else:
        p = soup.find('div', attrs = {'id':'price'})
        if p is not None:
            price.append(p.find('span').text[2:])
        else:
            price.append('-')
    img = soup.find('div', attrs = {'class':'imgTagWrapper'})
    if img is not None:
        image.append(img.find('img').get('src'))
    else:
        image.append('-')

In [62]:
df_mobile=pd.DataFrame({'Name':name,'Price':price,'Rating':rating,'Image_link':image})

In [63]:
df_mobile.head()

,Name,Price,Rating,Image_link
0,"Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage...","7,999.00",4.0 out of 5 stars,"\ndata:image/webp;base64,UklGRpIQAABXRUJQVlA4I..."
1,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","13,999.00",4.2 out of 5 stars,"\ndata:image/webp;base64,UklGRgoWAABXRUJQVlA4I..."
2,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","16,499.00",4.2 out of 5 stars,"\ndata:image/webp;base64,UklGRiwaAABXRUJQVlA4I..."
3,"Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storag...","9,999.00",3.9 out of 5 stars,https://images-na.ssl-images-amazon.com/images...
4,"Redmi 8A Dual (Midnight Grey, 3GB RAM, 64GB St...","9,999.00",4.0 out of 5 stars,https://images-na.ssl-images-amazon.com/images...

# Problem -9

Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all
the jobs listed for the next 5 pages.

In [46]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.monsterindia.com/trex/'
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [47]:
driver.find_element_by_xpath("//*[@id='SE_home_autocomplete']").send_keys('software developer')
driver.find_element_by_xpath("//*[@id='searchForm']/div/div[2]/input").click()

In [48]:
company=[]
location=[]
title=[]
skill=[]

In [49]:
c_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div[1]/div/div/span/a")
for i in c_tags:
    try:
        dataset=i.text
    except:
        dataset='Not Mentioned'
        company.append(dataset)


l_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div[1]/div/div/div/div[1]/span/small")
for i in l_tags:
    dataset=i.text
    location.append(dataset)


t_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div[1]/div/div/h3/a")
for i in t_tags:
    dataset=i.text
    title.append(dataset)


s_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div[1]/div/p[2]")
for i in s_tags:
    dataset=i.text
    skill.append(dataset)

In [50]:
df_monster=pd.DataFrame()
df_monster['Job Title']=title
df_monster['Location']=location
df_monster['Key Skills']=skill

In [51]:
df_monster.head()

,Job Title,Location,Key Skills
0,urgent hiring work from home job for (AWS Dev ...,"Bengaluru / Bangalore, Delhi","Skills : Aws Cloud , Devops Engineer"
1,"Hiring ""Software Developer"" - Mumbai","Mumbai, Mumbai City","Skills : Php , Javascript , Sql , CSS , Dot Net"
2,Software Developer,Thrissur,Skills : Software Developer
3,Software Developer AND SOFTWARE TESTING,Pune,"Skills : Java developer , Dotnet , Php develop..."
4,Senior Shopify Developer,Pune,"Skills : ""Shopify Developer"" , ""Senior Shopify..."