 Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [2]:
# importing required libraries 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from datetime import date
from datetime import datetime
import pandas as pd
from selenium.webdriver.support.ui import Select 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [38]:
# installing the chrome driver & URL to be scrapped 
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=%E2%80%9Cdata%20scientist&l=bangalore'
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [39]:
job=[]
company=[]
location=[]
jobdescription=[]

In [40]:
j_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div[1]/a")
for i in j_tags:
    dataset=i.text
    job.append(dataset)

c_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div[1]/div/a[1]")
for i in c_tags:
    dataset=i.text
    company.append(dataset)

l_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div[1]/ul/li[3]/span")
for i in l_tags:
    dataset=i.text
    location.append(dataset)
    
jd_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[2]")
for i in jd_tags:
    dataset=i.text
    jobdescription.append(dataset)

In [41]:
len(location)

20

In [43]:
jobs=pd.DataFrame({})
jobs['Title']=job
jobs['Company']=company
jobs['Location']=location
jobs['Jobdescription']=jobdescription
jobs.head()

,Title,Company,Location,Jobdescription
0,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Chennai, Pune, Bengaluru",Experience in working with large data sets and...
1,Sr . Data Scientist,NetApp,Bengaluru,A bachelor s degree in engineering or science ...
2,Sr. Data Scientist,NetApp,Bengaluru,A bachelor s degree in engineering or science ...
3,Senior Data Scientist,Fractal Analytics,Bengaluru,Role Brief As a Senior data scientist you will...
4,Advanced Architect - Data Scientist,Mphasis Limited,Bengaluru,Experience working with enterprise architectur...

In [63]:
# installing the chrome driver & URL to be scrapped 
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [64]:
driver.find_element_by_xpath("//*[@id='qsb-keyword-sugg']").send_keys('Data Scientist')
driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button").click()
time.sleep(3)

In [65]:
job=[]
company=[]
location=[]
jobdesc=[]
exp=[]

In [71]:
j_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div[1]/a")
for i in j_tags:
    dataset=i.text
    job.append(dataset)

c_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a")
for i in c_tags:
    dataset=i.text
    company.append(dataset)
    
l_tags=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div[1]/ul/li[3]/span")
for i in l_tags:
    dataset=i.text
    location.append(dataset)

In [72]:
len(location)

20

Q3. You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.maximize_window()
time.sleep(5)
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Scientist")
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [6]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
loc=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")
loc.click()

In [10]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)

In [11]:
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head()

  experience_required             company_name job_location     job_title
0             2-7 Yrs  Sharp Coating pvt. ltd.    Faridabad  Data Analyst

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price
Discount To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [23]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [24]:
brand=[]
description=[]
price=[]
discount=[]

In [27]:
for page in range(0,3):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('_2B_pmu')#scraping brands name by class name='_2B_pmu'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_class_name('_2mylT6')#scraping description by class name = '_2mylT6'
    for i in desc:
        description.append(i.get_attribute('title'))#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")# scraping the price from the xpath
    for i in prices[:40]:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='VGWI6T']")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)

In [28]:
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
print(df)

Empty DataFrame
Columns: [Brand, Description, Price, Discount]
Index: []