In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common import keys
from selenium.webdriver.common import by
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Q 1

In [2]:
driver=webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [3]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [4]:
driver.get(url)

In [5]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [6]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="1fe8f35e-bba4-45ab-87a5-9bc43654b03a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="9515a9bb-a307-445f-ad05-ea129a7accbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="99db67c2-9418-43d7-aa5c-79128cb54b85")>]

In [7]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Immediate opening For Data Scientist/Data Analyst',
 'Data Analyst: Fresher’s with Data Analyst Certification.',
 'Business Analyst and Data Analyst',
 'Data Analyst']

In [8]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="64924651-ea74-4444-8c34-b394be29720f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="35c87ee9-b9f4-461f-aada-11cfb2e61241")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="bb633a96-836f-414c-8a5d-cbc4d9a92148")>]

In [9]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:4]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'GDA Security pvt ltd',
 'Tech Mahindra Ltd.',
 'Hk solutions']

In [10]:
location_tags=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]/span[@class='ellipsis fleft fs12 lh16']")
location_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="aebba896-fd38-4105-b276-bc7be4300db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="2c14d628-32e4-4cdd-b7ef-d6b1b8342460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="9dd74f17-eddc-452e-bf1b-5f2f55a0c4e5")>]

In [11]:
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Delhi NCR, Bengaluru']

In [12]:
exp_tags=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[1]/span[@class='ellipsis fleft fs12 lh16']")
exp_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="537747d0-12b5-43e3-8f8a-38dcbe89eb76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="b47402d8-8d4f-4d64-9b8b-3c9c053c1132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db2f234b381342c65d93252dd24d4268", element="bbf02788-7c09-4de7-a95b-c8a39753e1e3")>]

In [13]:
for i in exp_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['0-3 Yrs', '0-0 Yrs', '7-12 Yrs', '0-3 Yrs']

In [14]:
print(len(job_titles), len(company_names), len(location_list),len(experience_list))

20 20 20 20

In [15]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Location']=location_list
jobs['Experience']=experience_list
jobs

,Title,Company,Location,Experience
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Data Analyst: Fresher’s with Data Analyst Cert...,GDA Security pvt ltd,Bengaluru,0-0 Yrs
2,Business Analyst and Data Analyst,Tech Mahindra Ltd.,"Delhi NCR, Bengaluru, Hyderabad",7-12 Yrs
3,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",0-3 Yrs
4,Intern - DFM Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,Bengaluru,0-5 Yrs
5,Hiring Data Analysts on Contract Third party p...,Flipkart Internet Private Limited,Bengaluru,2-6 Yrs
6,Reliability Data Analyst,Alstom Transport India Ltd.,Bengaluru,3-8 Yrs
7,Data Analyst,Ladder of changes,Bengaluru,0-5 Yrs
8,Data Analyst / Business Analyst,Altisource,Bengaluru,1-6 Yrs
9,Data Analyst - MySQL/PostgreSQL,Astegic,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",5-10 Yrs
10,Hiring For Data Analyst RE) - Bangalore,TELEPERFORMANCE GLOBAL SERVICES,Bengaluru(Bellandur),2-6 Yrs
11,Specialist I / II - Data Analyst,Philips India Limited,Bengaluru,5-7 Yrs
12,Procurement Data Analyst,Schneider Electric,Bengaluru,1-3 Yrs
13,Data Analyst Bangalore,SELCO Foundation,Bengaluru,5-8 Yrs
14,Junior Data Analyst,Cognizant Technology Solutions India Ltd,Bengaluru,1-2 Yrs
15,Data Analyst,IBM India Pvt. Limited,Bengaluru,5-10 Yrs
16,Product Manager - Data Scientist / Data Analyst,Fortune HR Consultant,Bengaluru,3-8 Yrs
17,Data Analyst - 3,Varite,Bengaluru,5-9 Yrs
18,Data Analyst,Snaphunt,Bengaluru,3-5 Yrs
19,Data Analyst,Simplify360,Bengaluru,4-5 Yrs

# Q2